<div id="background">

        <img src="assets/testbg.jpg" class="stretch" alt="" />
        <header><img  src="assets/logo.svg" class="logo" role="presentation"></header>
        <div class = "content">
                <section class="information">
                    Hello Alex!! Your new assignments is XXX. You are required to be availble at A11.
                        Schedule Time : 11.30AM
                    </section>
                    <button class="button">OK</button>
            </div> 
    </div>
     


